<head>
    
    <link rel="stylesheet" href="/style/empire.css">
    <link rel="stylesheet" href="/style/start.css">

    <title>Apollo</title>
    <meta id="settings" content="<%=settings%>"/>
    <meta content="<%=token%>"/>

</head>


<header>
    <div class="wrapper"></div>
</header>

<img id="welcome" src="https://readme-typing-svg.herokuapp.com?font=Major+Mono+Display&color=FFFFFF&lines=Your+majesty">

<div class="content">
    <div class="wrapper">
    </div>
</div>



<!-- <div align="center">

    <!-- <img src="https://readme-typing-svg.herokuapp.com?font=Major+Mono+Display&color=FFFFFF&lines=Your+majesty" class="center"> -->

    <!-- <img src="https://s3.cointelegraph.com/storage/uploads/view/7f0358223b77d3ef560c670dcb0d2935.png" alt=""> -->

<!-- </div> -->

