<head>

    <!-- Custom css -->
    <link rel="stylesheet" href="/style/empire.css">
    <link rel="stylesheet" href="/style/start.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="https://www.gitbook.com/cdn-cgi/image/width=40,height=40,fit=contain,dpr=1,format=auto/https%3A%2F%2F2736040151-files.gitbook.io%2F~%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FMlYPneLIcqHH1EOMSnny%252Ficon%252FR2CyiT04r15Bm7iCl3ij%252F%25D0%2591%25D0%25B5%25D0%25B7%2520%25D0%25BD%25D0%25B0%25D0%25B7%25D0%25B2%25D0%25B0%25D0%25BD%25D0%25B8%25D1%258F.jfif%3Falt%3Dmedia%26token%3Da1d0edc5-cfcc-4300-b1d6-d9712d23172d">
    
    <!-- Server image -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <link rel="stylesheet" href="/style/cyberpunk.css">

    <title>Apollo</title>
    <meta id="settings" content="<%=settings%>"/>
    <meta content="<%=token%>"/>

</head>

<header></header>
<img id="welcome" src="https://readme-typing-svg.herokuapp.com?font=Major+Mono+Display&color=FFFFFF&lines=Your+majesty">








<div class="content">
    
    <h1 align="center" class="futfont">This is your current empire</h1><br/><br/>
   
    <br/><br/>

    <section class="cyberpunk" style="height: 150%;" id="main">

        <br/><br/>


        <h3 style="font-size:48px;" class="futfont">Empire working plugin</h3>
        <p class="futfont" style="font-weight:bold;">Init v.0.1.0</p>
        
        <br/><br/>

        <h1 style="font-size:48px;" class="futfont cyberpunk glitched">Nodes</h1>
        <ul class="cyberpunk">
            <li>node1</li>
            <li>node2</li>
            <li>node3</li>
        </ul>
        
        <br/><br/><br/>

        <h1 style="font-size:48px;" class="futfont cyberpunk glitched">Clusters</h1>
        <ul class="cyberpunk">
            <li>venom-carnage</li>
            <li>service-btc-sol</li>
            
        </ul>

        <h1 style="font-size:48px;" class="futfont cyberpunk glitched">General Klyntar activity & events</h1>

        <canvas id="myChart"></canvas>

    </section>

</div>


<!--

███████╗ ██████╗██████╗ ██╗██████╗ ████████╗███████╗
██╔════╝██╔════╝██╔══██╗██║██╔══██╗╚══██╔══╝██╔════╝
███████╗██║     ██████╔╝██║██████╔╝   ██║   ███████╗
╚════██║██║     ██╔══██╗██║██╔═══╝    ██║   ╚════██║
███████║╚██████╗██║  ██║██║██║        ██║   ███████║
╚══════╝ ╚═════╝╚═╝  ╚═╝╚═╝╚═╝        ╚═╝   ╚══════╝
                                                     -->

<script src="/scripts/no_self_xss.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>

<script>
    const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
    ];
  
    const data = {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 10, 5, 2, 20, 30, 45],
      }]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {}
    };


    const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  </script>