<head>

  <title>Test view engine</title>

</head>

<link rel="stylesheet" href="/style">  
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

  
<section class="cyberpunk black" id="main">
    
  <a href="#">
    <span class="material-symbols-outlined" id="theme-id">nightlight</span>
  </a>
  
  <div id="centered">

    <hr class="cyberpunk glitched" />
  
    <h1 class="cyberpunk glitched futfont" alight="center"><%= text %></h1>
  
    <a class="cyberpunk2077">Start now</a>

  </div>

</section>
  
<script>
  
  document.getElementById('theme-id').addEventListener('click',()=>{

      let main=document.getElementById('main')

      main.setAttribute('class',main.getAttribute('class')==='cyberpunk'?'cyberpunk black':'cyberpunk')

  })

</script>


<footer style="background-color: #000; height: 50px;"></footer>