
<html>
<head>

  <title>Test view engine</title>
  

</head>

<link rel="stylesheet" href="/style">  
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">


<section class="cyberpunk black" id="main">

        <span class="material-symbols-outlined" id="theme-id">
            nightlight
        </span>
    
    <h1 class="cyberpunk glitched futfont" alight="center"><%= text %></h1>

  <a class="cyberpunk2077">Link red_</a>
  <button class="cyberpunk2077 green">Button green_</button>

  <hr class="cyberpunk glitched" />

  <a class="cyberpunk2077">Link red_</a>
  <button class="cyberpunk2077 green">Button green_</button>

  <hr class="cyberpunk glitched" />

  <a class="cyberpunk2077">Link red_</a>
  <button class="cyberpunk2077 green">Button green_</button>
 
</section>

<script>

    document.getElementById('theme-id').addEventListener('click',()=>{

        let main=document.getElementById('main')

        main.setAttribute('class',main.getAttribute('class')==='cyberpunk'?'cyberpunk black':'cyberpunk')
 
    })

</script>

</html>