.operations{

    position: absolute;
  
    top: 10%;
  
    left: 65%;


}


.smooth {

    opacity: 0;

    animation: ani 3s forwards;

}

@keyframes ani {
    
    0% {opacity: 0;}
    
    100% {opacity: 1;}

}



#service-image {

    position: absolute;
  
    top: 5%;
  
    left: 5%;

}