<!DOCTYPE html>
<html>
<head>

  <title>Test view engine</title>
  <link rel="stylesheet" href="/style">  

</head>

<section class="cyberpunk">

  <p><%= text %></p>
  <a class="cyberpunk2077">Link red_</a>
  <button class="cyberpunk2077 green">Button green_</button>
 
  <hr class="cyberpunk glitched" />

  <a class="cyberpunk2077">Link red_</a>
  <button class="cyberpunk2077 green">Button green_</button>

  <hr class="cyberpunk glitched" />

  <a class="cyberpunk2077">Link red_</a>
  <button class="cyberpunk2077 green">Button green_</button>


</section>
</html>

